

* {
  box-sizing: border-box;
  
}

body{

  background-color: #a09dad;
  font-family: poppins, sans-serif;
  font-size: 1.2rem;
  color: ivory;
  color: rgb(245, 240, 240);

}

.justify-content-md-center{
  height: 100vh;
  display: flex;
  
  color:rgb(253, 251, 251);
  background-image: url(./assets/background\ .png);

  justify-content: space-between;
  flex-grow: 1;
}
.justify-content-md-center Col{


}

.m-auto{
  display: flex;
  flex-direction: column;
 
  font-size: 1.2rem;
  justify-content: left;
  align-items:start;
}
.justify-content-sm-center{
 
  display: flex;
 color: white;
 background-image: url(./assets/background\ .png);
  justify-content: space-between;
  flex-grow: 1;
}

.justify-content-xl-center{
  
  display: flex;
 color: white;
 background-image: url(./assets/background\ .png);
  justify-content: space-between;
  flex-grow: 1;
}

.justify-content-x-center{

  display: flex;
 color: white;
 border: wheat;
 background-image: url(./assets/background\ .png);

  justify-content: space-between;
  flex-grow: 1;
}

.justify-content-xx-center{
  
  display: flex;
 color: white;
 background-image: url(./assets/bluetrianglify.jpg);
  justify-content: space-between;
  flex-grow: 1;

}
.Form{
  
  border-radius: 20px;
  border: wheat;
}
.details h2{
 
  font-size: 3rem;
}

span{
  color: rgb(226, 8, 179);
}


img{
  border: 20px;
}
p{
  font-size: 18px;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-col{
justify-content: center;

}