

* {
  box-sizing: border-box;
  
}

body{

  background-color: #3208f0;
  font-family: poppins, sans-serif;
  font-size: 1.2rem;
  color: ivory;
  color: rgb(245, 240, 240);

}

.justify-content-md-center{
  height: 100vh;
  display: flex;
  
  color:rgb(253, 251, 251);
  background-color: rgb(117, 97, 97);

  justify-content: space-between;
  flex-grow: 1;
}
.justify-content-md-center Col{


}

.m-auto{
  display: flex;
  flex-direction: column;
 
  font-size: 1.2rem;
  justify-content: left;
  align-items:start;
}
.justify-content-sm-center{
  height: 100vh;
  display: flex;
 color: white;
 background-color: rgb(105, 84, 84);
  justify-content: space-between;
  flex-grow: 1;
}

.justify-content-xl-center{
  height: 100vh;
  display: flex;
 color: white;

 background-color: rgb(105, 84, 84);
  justify-content: space-between;
  flex-grow: 1;
}

.justify-content-x-center{
  height: 100vh;
  display: flex;
 color: white;
 border: wheat;
 background-color: rgb(105, 84, 84);
  justify-content: space-between;
  flex-grow: 1;
}

.justify-content-xx-center{
  height: 100vh;
  display: flex;
 color: white;
 background-color: rgb(99, 78, 78);
  justify-content: space-between;
  flex-grow: 1;

}
.Form{
  background-color: rgb(14, 20, 20);
  border-radius: 20px;
  border: wheat;
}
.details h2{
 
  font-size: 3rem;
}

span{
  color: rgb(226, 8, 179);
}


img{
  border: 20px;
}
