
* {
  box-sizing: border-box;
  
}
html{

  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0 5px;
  background-color: #3e3636;
  font-family: poppins, sans-serif;
  font-size: 1.2rem;
  color: ivory;
  max-width: 1200px;
  margin: 0 auto;
}

hr{
    color: aliceblue;
    top: 10px;
   
    
}
/*Navigation bar */

.brand-logo{
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
  margin-left: 1rem;

}
.brand-logo-name{
  margin-left: 1rem;
}

.main-nav ul, .footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}
.main-nav a, .footer-nav a{
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}
.main-nav a:hover{
  color: rgb(169, 169, 180);
}
.header, .footer{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-radius: 10px;
  
  margin-top: 10px;
 
 
}
.container{
  position: fixed;
  width: 90%;
  margin: 0;
  padding: 40 0px;
  background-color:blue;

}

/* main section */
.my-name,title{
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}
.subtitle{
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.btn{
  color: aliceblue;
  background-color: blue;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;


}
.home-main-section {
  height: 100vh;
  display: flex;
  margin-top: 10px;
  background-color: rgb(2, 24, 6);
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}
.home-main-section div{
  
}

@media(max-width: 750px){
  .home-main-section, .about-main-section, .about-me-section, .project-section, .contact-me-section   .contact, form{
    display: flex;
    flex-direction: column;
    height: 149vh;
    
  }

}

.home-main-section .image-wraper{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-self: center;
  height: 55vh;
  align-items: center;
  border-radius: 50%;
  min-width: 40vw;


  background-repeat: no-repeat;
  background-size: contain;
  
  
}

.home-main-section .call-to-action{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  padding: 20px;
  align-self: center;
}



/* About section*/
.about-me-section{
  height: 100vh;
  background-color: darkmagenta;
  

}
 .about-header{
  display: flex;
 
  flex-direction: column;
  align-items: center;
  
}
.about-main-section, .project-main-section{
display: flex;
justify-content: space-around;
}
.about-main-section div, .project-main-section div{

  border: 1px #8f3780 solid;
  padding: 10px;
}

.my-story{
width: 50%;
}

main.stack-skills{
display: flex;
  
}

.stack-skills{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.skills li{
  text-decoration: none;
  display: flex;
  align-items: stretch;
  padding: 10px;
}

.skills li div{
  margin-left: 50px;
  height: 30px;
  width: 50%;
  background-color: crimson;
  justify-content: flex-start;
}



/* Projects section*/
.project-section{
  height: 100vh;
  background-color: rgb(58, 54, 61);
}
.footer{
  
  width: 100%;
  left: 0;
  bottom: 0px;
  
  background-color: rgb(15, 15, 15);
}


/*Contacts Information*/

.contact-header,.project-header{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
 color: rgb(245, 7, 173);

}
.contact-me-section{
  height: 100vh;
  background-color: rgb(1, 24, 3);
 
}
.contact{
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-grow: 1;

}
.contact div{
  border-radius: 20px;
  padding: 10px;
}
.form-class form{
  
  display: flex;
}
.form-class form .form-sec-1 {
  display: flex;
  flex-direction: column;

}
.form-sec-2{
  margin-left: 30px;
  justify-content: space-between;
}
.form{
  display: flex;
  padding: 2rem 4rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(34, 28, 28);
  margin: 1rem;
  -ms-text-size-adjust: auto;
 
}

.adress-sec{
  display: flex;
  flex-direction: column;
  font-size: small;
  align-items: flex-start;
  justify-content: center;

}




input,textarea{
  border: 1px solid;
  padding: .5em;
  font-size: 1em;

  border-radius: 5px;
 
}
textarea{
  width: 25vw;
  height: 25vh;
}
.btn{
  margin-left: 60px;
  margin-top: 24px;
  width: 15vw;
  font-size: 1em;
}

.project-section{
  background-color: rgb(56, 75, 75);
}